html {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0 auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
section{
    width: 100%;
    max-width: 800px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

main {
    padding: 20px;
}

header,
footer {
    background: rgb(168, 206, 206);
    padding: 20px;
    border: 1px solid black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form {
    font-size: 0.8rem;
}

.message{
    font-weight: bold;
}
#submitname{
    padding: 3px;
    border: none;
    border-radius: 2px;
    background-color: slateblue;
    color: white;
}
#forgetname{
    padding: 3px;
    border: none;
    border-radius: 2px;
    background-color: slateblue;
    color: white;
}